body {
    background-color: lemonchiffon;
}
.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #000000;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #000000;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}


.navbar {
    background-color: transparent; 
    position: absolute; /* Posición absoluta para superponerla */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Asegurar que esté por encima del carrusel */
    transition: background-color 0.3s ease; /* Transición de color */
}
.navbar:hover {
    background-color: lemonchiffon; /* Cambiar color de fondo al pasar el ratón */
}
.navbar-brand, .navbar-nav .nav-link {
    color: #000000; /* Color del texto de la barra de navegación */
    transition: color 0.3s ease; /* Transición de color */
}
.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: orange; /* Cambiar color del texto al pasar el ratón */
}
/* Estilos personalizados para el botón "Reserva tu hora" */
.btn-reserva {
    background-color: rgb(241, 180, 67); /* Color de fondo naranja */
    border-color: rgb(253, 177, 36); /* Color del borde naranja */
}
/* Estilos personalizados para el título y el texto debajo del carrusel */
.restaurant-title {
    text-align: center; /* Alinear el texto al centro */
    margin-top: 100px; /* Espacio superior */
    color: #ecb71a; /* Color del texto */
    font-size: 2.5rem; /* Tamaño de fuente más grande */
}
.restaurant-description {
    text-align: center; /* Alinear el texto al centro */
    margin-bottom: 50px; /* Espacio inferior */
    color: #666; /* Color del texto */
    font-size: 1.25rem; /* Tamaño de fuente más grande */
}
/* Estilos personalizados para el carrusel */
#carouselExample {
    background-image: url('https://s3.abcstatics.com/media/gurmesevilla/2012/01/comida-rapida-casera.jpg'),
     url('https://oleico.com/wp-content/uploads/2020/06/original-061eb31f9aaa850b7852a5e4411983a7-scaled-1.jpeg'); /* Establecer las imágenes como fondo */
    background-size: cover; /* Cubrir todo el área */
    background-repeat: no-repeat; /* No repetir la imagen */
    height: 600px; /* Altura del carrusel */
    position: relative; /* Asegurar que los elementos hijos se posicionen en relación a este */
}
.carousel-inner {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad del texto */
}
.carousel-item {
    background-position: center; /* Centrar el fondo */
    background-size: cover; /* Cubrir todo el área */
    height: 600px; /* Altura del carrusel */
}
.carousel-item img {
    display: none; /* Ocultar las imágenes del carrusel */
}
.plato {
    transition: 0.5s;
}
.collage{
    width: 70%;
    height:auto;
    transition: 0.5s;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.collage:hover{
    transform: scale(1.1);
}
.plato:hover{
    transform: scale(1.1);
    
}
